In [5]:
import pandas as pd

In [6]:
py_win= pd.read_csv("D:\AN_V\PROJECT 261122\Python_project\storesales.csv")

In [15]:
py_win.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      39 non-null     int64
 1   store   39 non-null     object
 2   sales   39 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.0+ KB

In [8]:
from itertools import groupby

In [33]:
dataset = [
    {"id": 1, "store": "S1", "sales": 5770.2},
    {"id": 2, "store": "S4", "sales": 1641.8},
    {"id": 3, "store": "S4", "sales": 4314},
    {"id": 4, "store": "S4", "sales": 4895.7},
    {"id": 5, "store": "S1", "sales": 4094.4},
    {"id": 6, "store": "S3", "sales": 2277.3},
    {"id": 7, "store": "S1", "sales": 3854.2},
    {"id": 8, "store": "S4", "sales": 6610.9},
    {"id": 9, "store": "S3", "sales": 4531.7},
    {"id": 10, "store": "S4", "sales": 4854},
    {"id": 11, "store": "S1", "sales": 2033.2},
    {"id": 12, "store": "S3", "sales": 4109.3},
    {"id": 13, "store": "S4", "sales": 6878.5},
    {"id": 14, "store": "S2", "sales": 3584.3},
    {"id": 15, "store": "S4", "sales": 4967.3},
    {"id": 16, "store": "S3", "sales": 4923.6},
    {"id": 17, "store": "S3", "sales": 3738.8},
]

In [35]:
for store, rows in groupby(dataset, key=lambda x: x["store"]):
    row_number = 0
    for row in rows:
        row_number += 1
        row["row_number"] = row_number
        print(row)

{'id': 1, 'store': 'S1', 'sales': 5770.2, 'row_number': 1}
{'id': 2, 'store': 'S4', 'sales': 1641.8, 'row_number': 1}
{'id': 3, 'store': 'S4', 'sales': 4314, 'row_number': 2}
{'id': 4, 'store': 'S4', 'sales': 4895.7, 'row_number': 3}
{'id': 5, 'store': 'S1', 'sales': 4094.4, 'row_number': 1}
{'id': 6, 'store': 'S3', 'sales': 2277.3, 'row_number': 1}
{'id': 7, 'store': 'S1', 'sales': 3854.2, 'row_number': 1}
{'id': 8, 'store': 'S4', 'sales': 6610.9, 'row_number': 1}
{'id': 9, 'store': 'S3', 'sales': 4531.7, 'row_number': 1}
{'id': 10, 'store': 'S4', 'sales': 4854, 'row_number': 1}
{'id': 11, 'store': 'S1', 'sales': 2033.2, 'row_number': 1}
{'id': 12, 'store': 'S3', 'sales': 4109.3, 'row_number': 1}
{'id': 13, 'store': 'S4', 'sales': 6878.5, 'row_number': 1}
{'id': 14, 'store': 'S2', 'sales': 3584.3, 'row_number': 1}
{'id': 15, 'store': 'S4', 'sales': 4967.3, 'row_number': 1}
{'id': 16, 'store': 'S3', 'sales': 4923.6, 'row_number': 1}
{'id': 17, 'store': 'S3', 'sales': 3738.8, 'row_number': 2}

In [13]:
current_store = None
row_number = 0
for row in py_win:
    if row["store"] != current_store:
        current_store = row["store"]
        row_number = 0
    row_number += 1
    row["row_number"] = row_number
    print(row)

TypeError: string indices must be integers

In [16]:
# Group the data by store and generate row numbers
py_win["row_number"] = py_win.groupby("store").apply(lambda x: range(1, len(x)+1))

In [17]:
py_win

    id store   sales row_number
0    1    S1  5770.2        NaN
1    2    S4  1641.8        NaN
2    3    S4  4314.0        NaN
3    4    S4  4895.7        NaN
4    5    S1  4094.4        NaN
5    6    S3  2277.3        NaN
6    7    S1  3854.2        NaN
7    8    S4  6610.9        NaN
8    9    S3  4531.7        NaN
9   10    S4  4854.0        NaN
10  11    S1  2033.2        NaN
11  12    S3  4109.3        NaN
12  13    S4  6878.5        NaN
13  14    S2  3584.3        NaN
14  15    S4  4967.3        NaN
15  16    S3  4923.6        NaN
16  17    S3  3738.8        NaN
17  18    S1  4164.7        NaN
18  19    S1  1701.1        NaN
19  20    S4  3886.2        NaN
20  21    S2  1899.8        NaN
21  22    S1  6611.9        NaN
22  23    S4  4147.2        NaN
23  24    S2  4756.3        NaN
24  25    S2  6406.4        NaN
25  26    S4  4648.6        NaN
26  27    S1  6650.4        NaN
27  28    S4  5006.0        NaN
28  29    S4  2178.8        NaN
29  30    S3  4632.7        NaN
30  31    S4  3947.8        NaN
31  32    S2  3255.6        NaN
32  33    S1  3538.5        NaN
33  34    S4  1815.6        NaN
34  35    S2  2284.8        NaN
35  36    S3  4531.8        NaN
36  37    S3  2541.6        NaN
37  38    S1  6152.5        NaN
38  39    S3  2564.0        NaN

In [25]:
row_number=py_win.groupby("store").apply(lambda x: range(1, len(x)+1))

In [29]:
type(row_number)

pandas.core.series.Series

In [ ]:
import random

# Define product categories and their total sales
categories = {
    "Furniture": 58578.25,
    "Sports": 39743.95,
    "Food": 73104.65
}

# Define subcategories for each category
subcategories = {
    "Furniture": ["chairs", "tables", "wardrobe", "beds", "couch", "antique", "storage"],
    "Sports": ["shoes", "bags", "backpack", "bottles", "towels"],
    "Food": ["chips", "bread", "chocolate", "biscuits", "rice", "wheat", "sugar", "flour"]
}

# Create dictionary to store sale prices for each subcategory
subcategory_prices = {}

# Assign random prices to each subcategory such that their total equals the total sales of their corresponding category
for category, total_sales in categories.items():
    subcats = subcategories[category]
    prices = []
    for subcat in subcats:
        # Generate random price for subcategory
        price = random.uniform(0, total_sales)
        # Add price to list of prices for this category
        prices.append(price)
        # Save price in dictionary
        subcategory_prices[subcat] = price
    # Make sure prices for this category add up to the correct total
    difference = total_sales - sum(prices)
    subcategory_prices[subcats[0]] += difference

# Print sale prices for each subcategory
for subcat, price in subcategory_prices.items():
    print(f"{subcat}: ${price:.2f}")

# Simulate a transaction: sale of a subcategory product
def simulate_transaction(subcat, sale_amount):
    # Update sale prices
    subcategory_prices[subcat] -= sale_amount
    # Update total sales for corresponding category
    category = [c for c, sc in subcategories.items() if subcat in sc][0]
    categories[category] -= sale_amount

# Test simulation of transaction
simulate_transaction("chairs", 100)

# Print updated sale prices for each subcategory
print("\nUpdated sale prices:")
for subcat, price in subcategory_prices.items():
    print(f"{subcat}: ${price:.2f}")

# Print total sales for a given product category
def print_total_sales(category):
    total_sales = categories[category]
    print(f"Total sales for {category}: ${total_sales:.2f}")

# Test printing of total sales
print_total_sales("Furniture")

# Print total sales for a given product subcategory
def print_subcategory_sales(subcat):
    sale_price = subcategory_prices[subcat]
    print(f"Total sales for {subcat}: ${sale_price:.2f}")

# Test printing of subcategory sales
print_subcategory_sales("chairs")